body {
  padding: 0;
  margin: 0;
}


* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: 0 none;
}

svg {
  position: absolute;
  top: 0;
  z-index: 100;
  opacity: 0;
}

.first {
  left: 0;
}

.second {
  right: 0;
}


.choose {
  width: 100%;
  min-height: 100vh;
  background: #7f7fd5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.choose .options {
  display: flex;
  width: 60%;
  height: 100%;
  align-items: center;
  flex-flow: row wrap;
}

.choose .options .option {
  font-size: 11rem;
  flex: 1 1 50%;
  margin: 20px 0;
  text-align: center;
  color: #ffcb8e;
}

.choose .options .option i {
  cursor: pointer;
}



.fight {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

}

.fight .players {
  width: 100%;
  display: flex;
  color: #ffcb8e;
  font-size: 12rem;
  align-items: center;
  justify-content: space-around;
}

.fight .players .versus {
  font-size: 5rem;
  align-self: center;
  color: #000;
  font-weight: bold;
}

.fight .again {
  padding: 10px 40px;
  border: 2px;
  text-transform: uppercase;
  opacity: 0;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid rgb(252, 252, 252);
  transition: .5s;
}

.fight .again:hover {
  background: transparent;
  color: rgb(252, 252, 252);
  transition: .3s ease-out;
}

.fight .result {
  text-transform: uppercase;
  font-size: 3rem;
}

@media all and (max-width:450px) {
  .choose .options .option {
    font-size: 9rem;
  }
}

@media all and (max-width:750px) {
  .fight .players {
    font-size: 9.5rem;
    flex-flow: column wrap;
    margin: 20px auto;
  }

  .fight .players .versus {
    font-size: 3.5rem;
    margin: 15px auto;
  }
}

@media all and (max-width:825px) {
  svg {
    display: none;
  }
}